---
import Layout from "../layouts/Layout.astro";

let device = { width: 320, height: 560 };
---

<Layout title="Storylite">
	<main class="h-screen w-screen bg-zinc-700">
		<div class="bg-red-500 left-0 top-0 w-3/12 h-full">
			<p>File System</p>
		</div>
		<div class="w-9/12 flex h-full absolute top-0 right-0">
			<div
				class="bg-zinc-700 grow right-0 absolute top-0 w-full"
				style="height: 70%;"
			>
				<div
					class="bg-zinc-600 rounded-2xl"
					style=`width: ${device.width}px; height: ${device.height}px;`
				>
					<iframe
						src="/componentSandbox"
						width=`${device.width}`
						height=`${device.height}`></iframe>
				</div>
			</div>
			<div
				class="bg-blue-500 absolute flex-none right-0 bottom-0 w-full"
				style="height: 30%;"
			>
				<p>Control Panel</p>
			</div>
		</div>
	</main>
</Layout>
